# GitHub Linguist: trate estes arquivos como Shell
*.rc    linguist-language=Shell
*.txt   linguist-language=Shell
*.conf  linguist-language=Shell

# Normalizar EOL para LF nesses tipos
*.{rc,txt,conf} text eol=lf

# (Opcional) diffs mais legíveis como "Shell"
*.{rc,txt,conf} diff=shell
